<section id="projects" class="page-section projects">
    <h1>Projects</h1>
    <div class="grid-projects">
        <!-- Bloc du projet 1 -->
        <div class="grid-left">
            <div class="project-title">TITRE PROJET 1</div>
            <div class="project-content">Contenu du projet 1</div>
            <div class="project-see-more">see-more</div>
        </div>
        <div class=" grid-right ">
            <div class="project-image">
                <img src="\assets\images\project-1.png">
            </div>
        </div>
        <!-- Bloc du projet 2 -->
        <div class="grid-left ">
            <div class="project-image">
                <img src="\assets\images\adventure.png">
            </div>
        </div>
        <div class="grid-right ">
            <div class="project-title">TITRE PROJET 2</div>
            <div class="project-content">Contenu du projet 2</div>
            <div class="project-see-more">see-more</div>
        </div>
        <!-- Bloc du projet 3 -->
        <div class="grid-left ">
            <div class="project-title">TITRE PROJET 3</div>
            <div class="project-content">Contenu du projet 3</div>
            <div class="project-see-more">see-more</div>
        </div>
        <div class="grid-right ">
            <div class="project-image">
                <img src="\assets\images\project-2.png">
            </div>
        </div>
        <!-- Bloc du projet 4 -->
        <div class="grid-left ">
            <div class="project-image">
                <img src="\assets\images\adventure.png">
            </div>
        </div>
        <div class="grid-right ">
            <div class="project-title">TITRE PROJET 4</div>
            <div class="project-content">Contenu du projet 4</div>
            <div class="project-see-more">see-more</div>
        </div>
        <!-- FIN DES BLOCS PROJETS -->
    </div>

    <!--------------- TEST  ----------->
    <button class="custom-btn btn-5"><span>Read More</span></button>
    <!-- FIN DE TEST  -->
</section>
<div class="angle transition-projects-hobbies "></div>