<section id="projects" class="page-section projects">
    <h1 class="section-title">Mes projets</h1>
    <!-- projects -->
    <div class="all-projects">
        <!----------------------------- ONE PROJECT -------------------------------->
        <div class="item">
            <div class="left">
                <div class="img">
                    <img src="\assets\images\Dontfallguys.jpg" alt="">
                </div>
            </div>
            <div class="right">
                <h2 class="project-title">Don't fall guys</h2>
                <h3 class="project-sub">Jeu Vidéo - Projet d'étude</h3>
                <p class="project-content">Création d'un jeu de plateformes en première personne grâce au moteur de jeu vidéo "Unreal Engine". Gestion de collisions, d'évènements et d'intelligence artificielle. Développement à l'aide de Blueprint, qui est un système de programmation
                    de script visuel. (Groupe de 3 personnes)</p>
                <div class="button-project">
                    <button class="custom-btn btn-modal">Voir plus</button>
                </div>

            </div>
        </div>
        <!----------------------------- ONE PROJECT -------------------------------->
        <div class="item">
            <div class="left">
                <div class="img">
                    <img src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8d29ya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
            </div>
            <div class="right">
                <h2 class="project-title">Youtube Catalogue</h2>
                <h3 class="project-sub">Application web - Projet d'étude</h3>
                <p class="project-content">Création d'un site pour une équipe de sociologues dont le but est d'étudier des vidéos Youtube, que ce soit au niveau des chiffres ou des images. Développement en PHP à l'aide du framework MVC Symfony 5 avec une partie en python et le
                    gestionnaire de téléchargement youtube-dl pour récupérer des données sur les vidéos. Le projet est toujours en cours (Groupe de 5 personnes)</p>
            </div>
        </div>
        <!----------------------------- ONE PROJECT -------------------------------->
        <div class="item">
            <div class="left">
                <div class="img">
                    <img src="\assets\images\portfolio.jpg" alt="">
                </div>
            </div>
            <div class="right">
                <h2 class="project-title">CV - Portfolio</h2>
                <h3 class="project-sub">Application web - Projet personnel</h3>
                <p class="project-content">Création d'un site vitrine type CV/Portfolio à l'aide du framework TypeScript Angular. Première expérience d'achat de nom de domaine, d'hébergement et de déploiement d'un site web de A à Z avec l'hébergeur Français Gandi.</p>
            </div>
        </div>
        <!----------------------------- ONE PROJECT -------------------------------->
        <div class="item">
            <div class="left">
                <div class="img">
                    <img src="\assets\images\Top Quiz.jpg" alt="">
                </div>
            </div>
            <div class="right">
                <h2 class="project-title">Top Quiz</h2>
                <h3 class="project-sub">Application android - Projet d'étude</h3>
                <p class="project-content">Développement d'une application Android en Java avec Android Studio. Mini jeu de quiz de culture générale avec choix de thèmes. Base de données en interne pour gérer un leaderboard et système de connexion avec login/mot de passe. (Groupe
                    de 3 personnes)</p>
                <div class="button-project">
                    <button class="custom-btn btn-modal">Voir plus</button>
                </div>
            </div>
        </div>
        <!----------------------------- END PROJECTS ------------------------------->
    </div>
</section>
<div class="angle transition-projects-hobbies "></div>