$main-color:#051622;
$second-color :#1BA098;
$third-color:#DEB992;
.about-me {
    background-color: $second-color;
}


/* -------------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------- PHOTO DE MOI -------------------------------------------------------- */


/* -------------------------------------------------------------------------------------------------------------------------- */

.about-me .picture-of-me {
    width: 20vw;
    height: 6vh;
    position: relative;
    top: 1vh;
    right: -75vw;
    z-index: 1;
}

#my-picture {
    width: 100%;
    border-radius: 10px;
    height: auto;
    box-shadow: 10px 10px 10px $main-color;
}


/* -------------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------ TEXT FLIP GLOABL -------------------------------------------------------- */


/* -------------------------------------------------------------------------------------------------------------------------- */

.main-title-about-me span:first-child {
    display: inline-block;
    width: 100%;
}

span.my-name {
    font-weight: 550;
}

span.job-title {
    color: $third-color;
    font-weight: 700;
}

.main-title-about-me {
    width: 100%;
    font-size: 5vw;
    color: $main-color;
    padding-bottom: 5%;
    margin-left: 2%;
}

.text-flip {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    color: $third-color;
}

.text-flip .flip {
    font-weight: 550;
}

@media (max-width: 520px) {
    .text-flip {
        height: 43px;
    }
}

@media (min-width: 520px) {
    .text-flip {
        height: 43px;
    }
}

@media (min-width: 675px) {
    .text-flip {
        width: 80%;
        top: 7px;
        height: 55px;
    }
}

@media (min-width: 859px) {
    .text-flip {
        top: 10px;
        height: 63px;
    }
}

@media (min-width: 936px) {
    .text-flip {
        height: 70px;
    }
}

@media (min-width: 1000px) {
    .text-flip {
        height: 130px;
    }
}

@media (max-width: 1000px) {
    .main-title-about-me {
        text-align: center;
        margin-left: 0%;
    }
    .text-flip {
        position: relative;
        display: inline-flex;
    }
    .about-me .picture-of-me {
        width: 30vw;
        position: relative;
        height: 50vw;
        right: auto;
        margin: 0 auto;
    }
}

.text-flip span {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    -webkit-animation: rotate-word 20s linear infinite;
    animation: rotate-word 20s linear infinite;
}


/* -------------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------ DUREE ENTRE CHAQUE MOT -------------------------------------------------- */


/* -------------------------------------------------------------------------------------------------------------------------- */

.text-flip span:nth-child(2) {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.text-flip span:nth-child(3) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.text-flip span:nth-child(4) {
    -webkit-animation-delay: 7.5s;
    animation-delay: 7.5s;
}

.text-flip span:nth-child(5) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.text-flip span:nth-child(6) {
    -webkit-animation-delay: 12.5s;
    animation-delay: 12.5s;
}

.text-flip span:nth-child(7) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.text-flip span:nth-child(8) {
    -webkit-animation-delay: 17.5s;
    animation-delay: 17.5s;
}

@-webkit-keyframes rotate-word {
    0% {
        opacity: 0;
    }
    1% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    19% {
        opacity: 0;
    }
    20% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotate-word {
    0% {
        opacity: 0;
    }
    1% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    19% {
        opacity: 0;
    }
    20% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.flip {
    width: 100%;
}

.flip::after {
    content: '';
    display: inline-block;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    background-size: cover;
    width: 20px;
    height: 20px;
}

@media (min-width: 394px) {
    .flip::after {
        width: 22px;
        height: 22px;
    }
}

@media (min-width: 394px) {
    .flip::after {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 675px) {
    .flip::after {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 859px) {
    .flip::after {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 936px) {
    .flip::after {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1100px) {
    .flip::after {
        width: 50px;
        height: 50px;
    }
}


/* -------------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------- IMAGES DE CHAQUE FLIP -------------------------------------------------------- */


/* -------------------------------------------------------------------------------------------------------------------------- */

.flip-drone::after {
    background-image: url("./../../assets/images/drone.png");
}

.flip-nature::after {
    background-image: url("./../../assets/images/nature.png");
}

.flip-curious::after {
    background-image: url("./../../assets/images/curious.png");
}

.flip-football::after {
    background-image: url("./../../assets/images/football.png");
}

.flip-adventure::after {
    background-image: url("./../../assets/images/adventure.png");
}

.flip-video::after {
    background-image: url("./../../assets/images/video.png");
}

.flip-handyman::after {
    background-image: url("./../../assets/images/handyman.png");
}

.flip-joke::after {
    background-image: url("./../../assets/images/joke.png");
}


/* -------------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------ TRANSITION ENTRE ABOUT ME ET TIMELINE ----------------------------------------------- */


/* -------------------------------------------------------------------------------------------------------------------------- */

.transition-about-me-timeline,
.transition-about-me-timeline:after {
    height: 25px;
    width: 100vw;
}

@media (min-width: 520px) {
    .transition-about-me-timeline,
    .transition-about-me-timeline:after {
        height: 90px;
    }
}

@media (min-width: 900px) {
    .transition-about-me-timeline,
    .transition-about-me-timeline:after {
        height: 130px;
    }
}

.transition-about-me-timeline {
    background-color: $main-color;
}

.transition-about-me-timeline:after {
    background-color: $second-color;
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
    clip-path: polygon(100% 100%, 100% 0, 0 0);
}