<section id="about-me" class="page-section about-me">
    <div class="picture-of-me">
        <picture>
            <source srcset="\assets\images\profile.webp" type="image/webp">
            <source srcset="\assets\images\profile.jpg" type="image/jpeg">
            <img src="\assets\images\profile.jpg" id="my-picture" alt="Image de profil Jouen Matthias">
        </picture>
    </div>
    <div class=" main-title-about-me ">

        <span class="my-name ">Matthias Jouen!<br></span> Je suis
        <span class="job-title "><h1>Développeur Web</h1></span> et
        <span class="text-flip ">
                <span class="flip flip-drone ">pilote de drone.</span>
        <span class="flip flip-nature ">amoureux de la nature.</span>
        <span class="flip flip-curious ">curieux.</span>
        <span class="flip flip-football ">joueur de foot.</span>
        <span class="flip flip-adventure ">aventurier.</span>
        <span class="flip flip-video ">amoureux de la vidéo.</span>
        <span class="flip flip-handyman ">bricoleur.</span>
        <span class="flip flip-joke ">blagueur.</span>
        </span>

    </div>
</section>
<div class=" angle transition-about-me-timeline "></div>