<!--https://codepen.io/zutrinken/pen/wvqdqX-->
<section id="header">
    <nav class=" navmenu ">
        <ul>
            <li>
                <a href="#header " class="active ">
                    <div class="menuText ">Qui suis-je ?</div>
                </a>
            </li>
            <li>
                <a href="#timeline ">
                    <div class="menuText ">Skills</div>
                </a>
            </li>
            <li>
                <a href="#projects ">
                    <div class="menuText ">Projets</div>
                </a>
            </li>
            <li>
                <a href="#hobbies ">
                    <div class="menuText ">Hobbys</div>
                </a>
            </li>
        </ul>
    </nav>
</section>