<nav class="navigation" id="mainNav">
    <a class="navigation__link" href="#about-me">
        <p>A propos de moi</p>
        <fa-icon [icon]="faUser "></fa-icon>
    </a>
    <a class="navigation__link" href="#timeline">
        <p>Etudes & Expériences</p>
        <fa-icon [icon]="faGraduationCap "></fa-icon>
    </a>
    <a class="navigation__link" href="#skills">
        <p>Compétences</p>
        <fa-icon [icon]="faMedal"></fa-icon>
    </a>
    <a class="navigation__link" href="#projects">
        <p>Projets</p>
        <fa-icon [icon]="faListUl "></fa-icon>
    </a>
    <a class="navigation__link" href="#hobbies">
        <p>Hobbys</p>
        <fa-icon [icon]="faFutbol "></fa-icon>
    </a>
</nav>