<div class="footer">
    <div class="footer-content">
        <h3 class="footer-title">&lsaquo;Matthias Jouen/&rsaquo;</h3>
        <p>Pour tous renseignements, me contacter par mail à l'adresse suivante : matthias.jouen23@gmail.com</p>
        <ul class="wrapper">
            <li class="icon instagram">
                <a href="https://www.instagram.com/matthias_jouen/" target="_blank">
                    <span>
                        <fa-icon [icon]="faInstagram "></fa-icon>
                    </span>
                </a>
            </li>
            <li class="icon linkedin">
                <a href="https://www.linkedin.com/in/matthias-jouen-1b74a71a1/" target="_blank">
                    <span>
                        <fa-icon [icon]="faLinkedin "></fa-icon>
                    </span>
                </a>
            </li>
            <li class="icon github">
                <a href="https://github.com/MatthiasJouen" target="_blank">
                    <span>
                        <fa-icon [icon]="faGithub "></fa-icon>
                    </span>
                </a>
            </li>
            <li class="icon youtube">
                <a href="https://www.youtube.com/channel/UCyQFKxJnGSfYWgr-x0uxUcg" target="_blank">
                    <span>
                        <fa-icon [icon]="faYoutube "></fa-icon>
                    </span>
                </a>
            </li>
        </ul>
        <p>copyright &copy;2022
            <span class="current-year">- 2022</span></p>
    </div>

</div>