<div class="footer">
    <div class="footer-content">
        <h3>&lsaquo;Matthias Jouen/&rsaquo;</h3>
        <p>Pour tous renseignements, me contacter par mail à l'adresse suivante : matthias.jouen23@gmail.com</p>
        <ul class="wrapper">
            <li class="icon instagram">
                <span class="tooltip">Instagram</span>
                <span>
                    <fa-icon [icon]="faInstagram "></fa-icon>
                </span>
            </li>
            <li class="icon linkedin">
                <span class="tooltip">LinkedIn</span>
                <span>
                    <fa-icon [icon]="faLinkedin "></fa-icon>
                </span>
            </li>
            <li class="icon github">
                <span class="tooltip">Github</span>
                <span>
                    <fa-icon [icon]="faGithub "></fa-icon>
                </span>
            </li>
            <li class="icon youtube">
                <span class="tooltip">Youtube</span>
                <span>
                    <fa-icon [icon]="faYoutube "></fa-icon>
                </span>
            </li>
        </ul>
        <p>copyright &copy;2022
            <span class="current-year">- 2022</span></p>
    </div>

</div>