<section class="timeline">
    <ul>
        <li>
            <div>
                <time>ESIEE</time>
                <p class="date">2020/2023</p>
                <p class="content">In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
            </div>
        </li>
        <li>
            <div>
                <time>Lycée La Providence</time>
                <p class="date">2018/2020</p>
                <p class="content">In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
            </div>
        </li>
        <li>
            <div>
                <time>Lycée Félix Faure</time>
                <p class=" date ">2015/2017</p>
                <p class="content">In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
            </div>
        </li>
    </ul>
</section>