<section id="timeline" class="timeline page-section">
    <h1>Timeline</h1>
    <ul>
        <li>
            <div class="work">
                <p class=" title ">Dév Web full stack - Enedis</p>
                <p class=" date ">(2020/2023)</p>
                <p class="content ">ToDO</p>
            </div>
        </li>
        <li>
            <div class="study">
                <p class="title">ESIEE</p>
                <p class="date ">(2020/2023)
                    <a href="https://www.esiee.fr">
                        <fa-icon [icon]="faArrowUpRightFromSquare" [spin]="false" class="fa-spin-hover"></fa-icon>
                    </a>
                </p>
                <p class="content ">
                    Ecole d'ingénieur de l'innovation technologique - Filière informatique et applications (ingénierie 3D et technologies des médias)
                </p>
            </div>
        </li>
        <li>
            <div class="work">
                <p class=" title ">Stage de développement application</p>
                <p class=" date ">(Mai 2019)
                </p>
                <p class="content ">Création d'une application de traçabilité des logiciels Informatiques (C++). Utilisation de l'outil d'intégration Talend</p>
            </div>
        </li>
        <li>
            <div class="study">
                <p class="title">Lycée La Providence</p>
                <p class="date ">(2018/2020)
                    <a href="https://www.la-providence.net/fr/page/bts-sn-ir-45.fr">
                        <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                    </a>
                </p>
                <p class="content ">BTS Systèmes numériques : option informatique et réseaux.</p>
            </div>
        </li>
        <li>
            <div class="study">
                <p class=" title ">Lycée Félix Faure</p>
                <p class=" date ">(2015/2017)
                    <a href="https://felix-faure-beauvais.ac-amiens.fr/bac-abibac/ ">
                        <fa-icon [icon]="faArrowUpRightFromSquare "></fa-icon>
                    </a>
                </p>
                <p class="content ">Baccalauréat Scientifique option physique-chimie. Section ABIBAC : optention de l'équivalent du baccalauréat en Allemagne (ABITUR)</p>
            </div>
        </li>

    </ul>
</section>
<div class="angle transition-timeline-skills"></div>