<section id="hobbies" class="page-section hobbies">
    <h1 class="section-title">Mes hobbys</h1>
    <div class="hero">
        <div class="carrousel">
            <!-- LIST OF IMAGES  -->
            <ul>
                <li class="cards">
                    <video class="hobbiesVideo" controls id="video" loop playsinline>
                        <source src="\assets\videos\Hobbies1.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                </li>
                <li class="cards">
                    <img src="\assets\images\Hobbies2.jpg">
                </li>
                <li class="cards">
                    <img src="\assets\images\Hobbies1.jpg">
                </li>
                <li class="cards">
                    <video class="hobbiesVideo" controls id="video2" loop playsinline>
                        <source src="\assets\videos\Hobbies2.MOV" type="video/mp4 ">
                        Your browser does not support HTML video.
                    </video>
                </li>
            </ul>
            <!-- END OF LIST  -->
        </div>
    </div>
</section>