<section id="hobbies" class="page-section hobbies">
    <h2 class="section-title">Mes hobbys</h2>
    <div class="hero">
        <div class="carrousel">
            <!-- LIST OF IMAGES  -->
            <ul>
                <li class="cards">
                    <video class="hobbiesVideo" controls id="video" loop playsinline preload="metadata">
                        <source src="\assets\videos\dronevideo.mp4" type="video/mp4" alt="video de drone fpv montagne">
                        Your browser does not support HTML video.
                    </video>
                </li>
                <li class="cards">
                    <picture>
                        <source srcset="\assets\images\football.webp" type="image/webp">
                        <source srcset="\assets\images\football.jpg" type="image/jpeg">
                        <img src="\assets\images\football.jpg" loading="lazy" alt="joueur de football">
                    </picture>
                </li>
                <li class="cards">
                    <picture>
                        <source srcset="\assets\images\drone.webp" type="image/webp">
                        <source srcset="\assets\images\drone.jpg" type="image/jpeg">
                        <img src="\assets\images\drone.jpg" loading="lazy" alt="drone fpv">
                    </picture>
                </li>
                <li class="cards">
                    <video class="hobbiesVideo" controls id="video2" loop playsinline preload="metadata">
                        <source src="\assets\videos\randonnee.MOV" type="video/mp4 " alt="randonnee en montagne">
                        Your browser does not support HTML video.
                    </video>
                </li>
            </ul>
            <!-- END OF LIST  -->
        </div>
    </div>
</section>