<section id="hobbies" class="page-section hobbies">
    <h1 class="section-title">Mes hobbys</h1>
    <div class="hero">
        <div class="carrousel">
            <!-- LIST OF IMAGES  -->
            <ul>
                <li class="cards">
                    <video class="hobbiesVideo" controls id="video">
                        <source src="\assets\videos\Dont_fall_guys 2022.04.10 - 19.21.15.05.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                </li>
                <li class="cards">
                    <img src="https://images.unsplash.com/photo-1511919884226-fd3cad34687c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2FyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
                </li>
                <li class="cards">
                    <img src="https://images.unsplash.com/photo-1580273916550-e323be2ae537?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
                </li>
                <li class="cards">
                    <video class="hobbiesVideo" controls id="video2">
                        <source src="\assets\videos\Dont_fall_guys 2022.04.10 - 19.21.15.05.mp4 " type="video/mp4 ">
                        Your browser does not support HTML video.
                    </video>
                </li>
            </ul>
            <!-- END OF LIST  -->
        </div>
    </div>
</section>