        $main-color:#051622;
        $second-color :#1BA098;
        $third-color:#DEB992;
        .skills {
            background-color: $second-color;
        }
        
        .skills h1 {
            color: $main-color;
        }
        /*
* -------------------------------------------------------------------------------------------------------------
* ----------------------------------------- SKILLS ICONS STYLE ------------------------------------------------
* -------------------------------------------------------------------------------------------------------------
*/
        
        .skills .skillArea {
            //zone globale pour les compétences
            max-width: 1280px;
            width: 100%;
            margin: 0 auto;
        }
        
        .skills .skillArea .skillIcons {
            //conteneur des icones
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0 auto;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 95%;
        }
        
        .skills .skillArea .skillIcons .box-icon {
            //une ligne d'icone
            width: 50%;
            margin-bottom: 10px;
            height: 160px;
        }
        
        .skills .skillArea .skillIcons i {
            //correspond à la classe i
            font-family: devicon;
            font-style: normal;
            font-weight: 500;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            color: $third-color;
            font-size: 4.5rem;
            transition: all 0.6s ease-in-out;
        }
        
        .skills .skillArea .skillIcons i:hover {
            color: $main-color;
        }
        
        .skills .skillArea .skillIcons .box-icon p {
            //correspond à la classe p
            line-height: 1.5;
            color: $main-color;
            font-size: 1.4rem;
            text-align: center;
            width: fit-content;
            font-weight: 500;
            margin: 10px auto;
        }
        
        @media (max-width: 750px) {
            .skills .skillArea .skillIcons .box-icon {
                width: 25%;
                height: 120px;
            }
            .skills .skillArea .skillIcons .box-icon i {
                font-size: 3.5rem;
            }
            .skills .skillArea .skillIcons .box-icon p {
                font-size: 1.2rem;
            }
        }
        
        @media (max-width: 1100px) {
            .skills .skillArea .skillIcons .box-icon {
                width: 25%;
                height: 130px;
            }
        }
        
        @media (min-width: 1100px) {
            .skills .skillArea .skillIcons .box-icon {
                width: 12.5%;
            }
        }
        /*
* -------------------------------------------------------------------------------------------------------------
* -------------------------------------- TRANSITION SKILLS PROJECTS -------------------------------------------
* -------------------------------------------------------------------------------------------------------------
*/
        
        .transition-skills-projects,
        .transition-skills-projects:after {
            height: 25px;
            width: 100vw;
        }
        
        @media (min-width: 520px) {
            .transition-skills-projects,
            .transition-skills-projects:after {
                height: 55px;
            }
        }
        
        @media (min-width: 900px) {
            .transition-skills-projects,
            .transition-skills-projects:after {
                height: 75px;
            }
        }
        
        .transition-skills-projects {
            background-color: $main-color;
        }
        
        .transition-skills-projects:after {
            background-color: $second-color;
            -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%);
        }