$main-color:#051622;
$second-color :#1BA098;
$third-color:#DEB992;
body {
    //font    
    font-family: 'Roboto', sans-serif;
    //background: linear-gradient(-45deg, #41295a, #2F0743);
    background: #051622;
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    /* Full height */
    height: 100vh;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: $second-color;
}